.title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 94px;
    color: #000000;
    margin-right: 100px;
    width: 1280px;
    margin-left: 95px;
    margin-bottom: 38px;

}

.colortext {
    color: deepskyblue;
}

.colorblack {
    color: black;
}
.link {
    text-decoration: none;

}


.menu {
    display: flex;
    justify-content: center;
    width: 1280px;
    border: solid 1px #000000;
    background-color: #35444F;
    margin-left: auto;
    margin-right: auto;
}

.text-block:hover {
    color: #FFFFFF;
    background-color: #222F3A;

}

.text-block {
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    border-left: 1px solid #000000;
    border-color: #ffff;
    background-color: #35444F;
    text-align: center;
    color: #ffff;
    padding-left: 35px;
    padding-right: 35px;



}

.side-menu {
    float: left;
    border: 1px solid #000000;
    margin-left: 100px;

}
.side {


}
.text-side:hover {
    color: #FFFFFF;
    background-color: #DBDBDB;
}
.text-side {
    display: flex;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 27px;
    padding-top: 50px;
    padding-left: 45px;
    padding-right: 85px;
    padding-bottom: 30px;
    color: #495863;
}
.image-bar {
    overflow: hidden;
    padding-left: 50px;
    padding-right: 100px;
    margin-bottom: 35px;
    margin-top: 50px;

}
.image {
    border: 1px solid #000000;
}




.main-text-one {
    margin-left: 495px;
    margin-right: 100px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 35px;
    color: #2C2C2C;
}

.main-text-two {
    margin-left: 495px;
    margin-right: 100px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    padding-bottom: 54px;
}




.footer-menu {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 30px;
    width: 1280px;
    background: rgba(99, 105, 110, 0.48);
    border: solid 1px #000000;
    display: flex;
    justify-content: space-between;

}
.footer-list {
    padding-left: 40px;
    padding-right: 40px;
}

.footer-text:hover{
    color: deepskyblue;
    background-color: background: rgba(99, 105, 110, 0.48);
    text-decoration: underline;
}

.footer-text {
    font-family: Roboto;
    font-size: 28px;
    line-height: 28px;
    display:inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #0C1927;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;

}

.footer-copy {
    width: 190px;
    height: 69px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #010101;
    padding-right: 40px;
}